html {
	font-family: "verdana", "arial", sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	padding: 0px;
}

#Information  {
  text-align: left;
}

#map {
  text-align: center;
  margin-right: 450px;
}

#flag {
  height: 100px;
  width: 160px;
  border-radius: 8px;
}

.country {
  fill: #D3D3D3;
  stroke: #000000;
  stroke-width: 1px;
}

.country:hover {
  filter:brightness(250%);
}

.london {
  fill: #D3D3D3;
  stroke: #000000;
  stroke-width: 1px;
}
.london:hover {
  filter:brightness(250%);
}

.hidden_map_element{
  fill: #71d1f2;
}

h3 {
  text-align: center;
}

/*  */
/* UI */
/*  */

#top_container {
  display: grid; 
  grid-gap: 0px;
  row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  position: fixed;
  width: 70vw;
  margin-left: 15vw;
  visibility: visible;
}

.top_container_item {
  padding: 5px
}

.UI_Item {
  border-style: solid;
  text-align: center;
  background-color: #5d9afc;
  border-radius: 20px
}

.UI_Item_hide {
  border-style: solid;
  text-align: center;
  background-color: #5d9afc;
  border-radius: 20px;

  width: 0px;
  height: 0px;
}

#UI_Info{
  width: auto;
  float: right;
  margin-right: 1%;
  position: fixed;
  right: 1px;
  top: 20vh;
  visibility: visible;
}

#UI_Left {
  visibility: visible;
  width: auto;
  float: left;
  margin-right: 1%;
  position: fixed;
  left: 1px;
  top: 20vh;
}

#UI_Chat {
  visibility: visible;
  width: 300px;
  float: left;
  margin-right: 1%;
  position: fixed;
  left: 1px;
  bottom: 10px;
}

#UI_Info_Content{
  visibility: visible
}

#UI_EndTurn{
  float: right;
  margin-right: 1%;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

button{
  margin: 5px 30px
}

#dialog{
  /* background-color: white; */

}

#dialogue_inner_container {
  display: grid; 
  grid-gap: 0px;
  row-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  visibility: visible; 
  margin: auto;

}

.dialogue_container_item {
  padding: 5px;
  text-align: center;
}


/*  */
/* province styling */
/* */

.capital{
  /* opacity: 0.8; */
  filter:brightness(50%);
  stroke: #000000;
  stroke-width: 1px;
  /* background-image: url("../img/placeholder_small.jpg"); */
}

/* political */
.Seaxe{
  fill: #5b0000;
}
.Mierce{
  fill: #00265f;
}
.Northanhymbre{
  fill: #ff9900;
}
.Britons{
  fill: #1c9b00;
}
.Lutae{
  fill: #00788d;
}
.Picts{
  fill: #00788d;
}
.East_Engla{
  fill: #0e008d;
}
.Cornubia{
  fill: #351e00;
}

/* population */ 

.pop_num_1{
  fill: #5b0000;
}
.pop_num_2{
  fill: #a55d00;
}
.pop_num_3{
  fill: #c5d300;
}
.pop_num_4{
  fill: #7fc400;
}
.pop_num_5{
  fill: #2dc000;
}

/* army size */
.no_army{
  fill: #ffffff;
}
.small_army{
  fill: #5c8cd3;
}
.medium_army{
  fill: #115dcf;
}
.large_army{
  fill: #0034a5;
}